In [2]:
import csv
from DATA225utils import make_connection

In [3]:
conn = make_connection(config_file = 'techorcas_db.ini')
cursor = conn.cursor()

# Orders Table

In [17]:
#Dropping orders_table  if already exists.
cursor.execute("DROP TABLE IF EXISTS orders_table")

In [18]:
# create orders_table  
sql ='''

CREATE TABLE orders_table(
    OrderID VARCHAR(50) NOT NULL,
    SKU VARCHAR(50) NOT NULL,
    Date VARCHAR(50),
    Status VARCHAR(50),
    Fulfilment VARCHAR(50),
    SalesChannel VARCHAR(50),
    Qty VARCHAR(50),
    Amount FLOAT,
    StaffID VARCHAR(20),
    is_status_changed BOOLEAN,
    PRIMARY KEY (OrderID,SKU)

          )''' 
cursor.execute(sql)

In [19]:
#cleaning the data
def transform(row):
    if row[1] == 'NA':
        row[1] = 0
    # Ensure is_status_changed is an integer (0 or 1)
    # Assuming is_status_changed is the last column in the row
    if row[-1] == '':  # If the value is an empty string, set a default value
        row[-1] = 0
    else:
        row[-1] = int(row[-1])  # Convert to integer (ensure this is '0' or '1' in your CSV)

In [20]:
#Insert vales into orders_table table
sql = ( """
        INSERT INTO orders_table
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s )
        """
      )

In [21]:
import csv
first = True
i = 0

with open(r'orders_table.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            transform(row)
            cursor.execute(sql, row)

            
        first = False
    
conn.commit()

# Products Table

In [11]:
#Dropping products_table  if already exists.
cursor.execute("DROP TABLE IF EXISTS products_table")

In [12]:
# create products_table  
sql ='''

CREATE TABLE products_table(
    SKU VARCHAR(50) NOT NULL,
    Style VARCHAR(50),
    Category VARCHAR(50),
    Size VARCHAR(50),
    Color VARCHAR(50),
    Inventory DOUBLE,
    PRIMARY KEY (SKU)

          )''' 
cursor.execute(sql)

In [13]:
#cleaning the data
def transform(row):
    if row[1] == 'NA':
        row[1] = 0

In [14]:
#Insert vales into products_table table
sql = ( """
        INSERT INTO products_table
        VALUES (%s, %s, %s, %s, %s, %s )
        """
      )

In [15]:
import csv
first = True
i = 0

with open(r'products_table.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            transform(row)
            cursor.execute(sql, row)

            
        first = False
    
conn.commit()

# promotions_table

In [16]:
#Dropping promotions_table  if already exists.
cursor.execute("DROP TABLE IF EXISTS promotions_table")

In [17]:
# create promotions_table  
sql ='''

CREATE TABLE promotions_table(
    OrderID VARCHAR(50) NOT NULL,
    promotion_ids VARCHAR(3000),
    PRIMARY KEY (OrderID)

          )''' 
cursor.execute(sql)

In [18]:
#cleaning the data
def transform(row):
    if row[1] == 'NA':
        row[1] = 0

In [19]:
#Insert vales into promotions_table table
sql = ( """
        INSERT INTO promotions_table
        VALUES (%s, %s )
        """
      )

In [20]:
import csv
first = True
i = 0

with open(r'promotions_table.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            transform(row)
            cursor.execute(sql, row)

            
        first = False
    
conn.commit()

# shipping_information Table

In [21]:
#Dropping shipping_information_table  if already exists.
cursor.execute("DROP TABLE IF EXISTS shipping_information_table")

In [22]:
# create shipping_information_table  
sql ='''

CREATE TABLE shipping_information_table(
    OrderID VARCHAR(50) NOT NULL,
    ship_service_level VARCHAR(50),
    ship_city VARCHAR(50),
    ship_state VARCHAR(50),
    ship_postal_code VARCHAR(50),
    ship_country VARCHAR(50),
    PRIMARY KEY (OrderID)

          )''' 
cursor.execute(sql)

In [23]:
#cleaning the data
def transform(row):
    if row[1] == 'NA':
        row[1] = 0

In [24]:
#Insert vales into shipping_information table
sql = ( """
        INSERT INTO shipping_information_table
        VALUES (%s, %s, %s, %s, %s, %s )
        """
      )

In [25]:
import csv
first = True
i = 0

with open(r'shipping_information_table.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            transform(row)
            cursor.execute(sql, row)

            
        first = False
    
conn.commit()

# customers_table

In [26]:
#Dropping customers_table  if already exists.
cursor.execute("DROP TABLE IF EXISTS customers_table")

In [27]:
# create customers_table  
sql ='''

CREATE TABLE customers_table(
    OrderID VARCHAR(50) NOT NULL,
    Customer_name VARCHAR(50),
    Email VARCHAR(200) NOT NULL,
    Password VARCHAR(200),
    PhoneNumber VARCHAR(25),
    Rating VARCHAR(20),
    Feedback VARCHAR(3000),
    PRIMARY KEY (OrderID,Email)

          )''' 
cursor.execute(sql)

In [28]:
#cleaning the data
def transform(row):
    if row[1] == 'NA':
        row[1] = 0

In [29]:
#Insert vales into customers_table table
sql = ( """
        INSERT INTO customers_table
        VALUES (%s, %s, %s, %s, %s, %s, %s )
        """
      )

In [30]:
import csv
first = True
i = 0

with open(r'customers_table.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            transform(row)
            cursor.execute(sql, row)

            
        first = False
    
conn.commit()

# orders_product_table

In [22]:
#Dropping orders_product_table  if already exists.
cursor.execute("DROP TABLE IF EXISTS orders_product_table")

In [23]:
# create orders_product_table  
sql ='''

CREATE TABLE orders_product_table(
    OrderID VARCHAR(50) NOT NULL,
    SKU VARCHAR(50) NOT NULL,
    PRIMARY KEY (OrderID,SKU),
    FOREIGN KEY (OrderID) REFERENCES orders_table(OrderID),
    FOREIGN KEY (SKU) REFERENCES products_table(SKU)

          )''' 
cursor.execute(sql)

In [24]:
#cleaning the data
def transform(row):
    if row[1] == 'NA':
        row[1] = 0

In [25]:
#Insert vales into orders_product_table table
sql = ( """
        INSERT INTO orders_product_table
        VALUES (%s, %s )
        """
      )

In [26]:
import csv
first = True
i = 0

with open(r'orders_product_table.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            transform(row)
            cursor.execute(sql, row)

            
        first = False
    
conn.commit()

# Staff_table

In [63]:
#Dropping Staff_table  if already exists.
cursor.execute("DROP TABLE IF EXISTS Staff_table")

In [64]:
# create Staff_table  
sql ='''

CREATE TABLE Staff_table(
    StaffID VARCHAR(20) NOT NULL,
    Staff_Email VARCHAR(50),
    Password VARCHAR(500),
    PRIMARY KEY (StaffID)

          )''' 
cursor.execute(sql)

In [65]:
#cleaning the data
def transform(row):
    if row[1] == 'NA':
        row[1] = 0

In [66]:
#Insert vales into Staff_table table
sql = ( """
        INSERT INTO Staff_table
        VALUES (%s, %s, %s )
        """
      )

In [67]:
import csv
first = True
i = 0

with open(r'Staff_table.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            transform(row)
            cursor.execute(sql, row)

            
        first = False
    
conn.commit()